*.o
*.a
/bin/*.map
/bin/*.bin
/bin/*.elf
/bin/*.hex
/bin/*.lst
*.css
/src/bsp/CMSIS/SVD/*.exe
/src/bsp/CMSIS/Documentation/Core/html/*.html
*.html
*.js
*.png
Documentation
SVD
/bin/*.dasm
/bin/*.ld
/src/bsp/*.dasm
/src/dev/*.d
/src/dev/*.dasm
/src/*.d
/src/*.dasm
*.d
